:root {
  --clr-primary: hsl(240, 54%, 48%);
  --clr-background: hsl(355, 100%, 69%);
  --clr-background-gradient-1: hsl(35, 100%, 72%);
  --clr-background-gradient-2: hsl(355, 100%, 69%);
  --clr-canvas: hsla(0, 0%, 100%, 0.863);
  --clr-white: hsl(0, 0%, 98%);
  --clr-black: hsl(0, 0%, 10%);
  --clr-black-light: hsl(0, 0%, 13%);
  --clr-black-lighter: hsl(0, 0%, 20%);
  --clr-grey: hsl(0, 1%, 63%);
  --clr-grey-light: hsl(0, 1%, 83%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* for text */
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-white);

  /* for background */
  background: var(--clr-background);
  background: -webkit-linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    clr(--background-gradient-2)
  );
  background: linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    var(--clr-background-gradient-2)
  );
  background-repeat: no-repeat;
  background-size: cover;

  /* for display  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

canvas {
  background-color: var(--clr-canvas);
  backdrop-filter: saturate(180%) blur(2rem);
  border-radius: 5px;
  display: block;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: var(--clr-black-light);
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

#close-btn {
  margin-top: 5px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--clr-black-lighter);
  min-height: 100vh;
  width: 40rem;
  padding: 2rem;
  line-height: 1.5;
  transform: translateX(-40rem);
  transition: all 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}

.start-game-card {
  background: var(--clr-white);
  height: 30rem;
  width: 50rem;
  padding: 7rem 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label {
  font-size: 1.8rem;
  width: 100%;
}
.name-input {
  font-size: 1.8rem;
  border: 0;
  border-bottom: 1px solid var(--clr-grey-light);
  margin-bottom: 4rem;
  width: 80%;
  outline: 0;
  color: var(--clr-grey);
  padding: 0 0.5rem;
}

.start-game-btn {
  background-color: var(--clr-background);
  border: 0;
  padding: 3rem 4rem;
  border-radius: 10px;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.start-game-btn:focus {
  outline: 0;
}

.start-game-btn:active {
  transform: scale(0.98);
}

.loading {
  font-size: 4rem;
  color: var(--clr-background);
  font-weight: bold;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
}

.hidden {
  display: none;
}
