:root {
  --clr-background-blue: hsl(226, 100%, 69%);
  --clr-background: hsl(355, 100%, 69%);
  --clr-background-gradient-1: hsl(35, 100%, 72%);
  --clr-background-gradient-2: hsl(355, 100%, 69%);
  --clr-canvas: hsla(0, 0%, 100%, 0.863);
  --clr-white: hsl(0, 0%, 98%);
  --clr-black: hsl(0, 0%, 10%);
  --clr-black-light: hsl(0, 0%, 13%);
  --clr-black-lighter: hsl(0, 0%, 20%);
  --clr-grey: hsl(0, 1%, 63%);
  --clr-grey-light: hsl(0, 1%, 83%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* for text */
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-white);

  /* for background */
  background: var(--clr-background);
  background: -webkit-linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    clr(--background-gradient-2)
  );
  background: linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    var(--clr-background-gradient-2)
  );
  background-repeat: no-repeat;
  background-size: cover;

  /* for display  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;
}

.info-para {
  font-weight: bold;
}

.info-para span {
  font-weight: normal;
}

li {
  list-style-type: none;
  font-size: 1.4rem;
}

canvas {
  background-color: var(--clr-canvas);
  backdrop-filter: saturate(180%) blur(2rem);
  border-radius: 5px;
  display: block;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: var(--clr-black-light);
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 12rem;
}

.player-info-btn {
  position: absolute;
  top: 8rem;
  left: 3rem;
  width: 12rem;
}

.menu-btn {
  position: absolute;
  /* top: 8rem;
  left: 3rem; */
  top: 3.5rem;
  right: 3rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--clr-white);
  /* font-weight: bold; */
  font-size: 1.8rem;
  transition: all 0.2s ease;
}

.menu-btn:focus {
  outline: 0;
}

/* .menu-btn:hover {
  transform: translateY(-1px);
} */

.menu-btn:active {
  transform: translateX(2.5px);
}

.close-btn {
  display: inline-block;
  margin-top: 2.5rem;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--clr-black-lighter);
  min-height: 100vh;
  width: 40rem;
  padding: 2rem;
  line-height: 1.5;
  transform: translateX(-40rem);
  transition: all 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}

.info-width {
  width: fit-content;
}

.start-game-card {
  background: var(--clr-white);
  height: 30rem;
  width: 50rem;
  padding: 7rem 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background {
  background: var(--clr-background);
  background: -webkit-linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    clr(--background-gradient-2)
  );
  background: linear-gradient(
    to right,
    var(--clr-background-gradient-1),
    var(--clr-background-gradient-2)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.congo {
  text-align: center;
}

.congo-para {
  color: var(--clr-background);
}

label {
  font-size: 1.8rem;
  width: 100%;
}

.name-label {
  display: flex;
  align-items: center;
  color: var(--clr-background);
}

#name {
  margin-left: 7px;
}

.name-input {
  font-size: 1.8rem;
  border: 0;
  border-bottom: 1px solid var(--clr-grey-light);
  /* margin-bottom: 4rem; */
  width: 80%;
  outline: 0;
  color: var(--clr-grey);
  padding: 0 0.5rem;
}

.start-game-btn {
  background-color: var(--clr-background);
  border: 0;
  padding: 3rem 4rem;
  border-radius: 10px;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.start-game-btn:focus {
  outline: 0;
}

.start-game-btn:active {
  transform: scale(0.98);
}

.start-game-btn.play-again-lost-btn {
  background-color: var(--clr-black);
}

.loading {
  font-size: 4rem;
  color: var(--clr-background);
  font-weight: bold;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  text-align: center;
}

.welcome-el {
  color: var(--clr-background);
  font-size: 1.8rem;
  /* margin-bottom: 3rem; */
}

.level-label {
  margin-top: 1.5rem;
  color: var(--clr-background);
}

.level-label select {
  border: 1px solid var(--clr-grey-light);
  padding: 5px 3rem;
  color: var(--clr-background);
  cursor: pointer;
  margin-left: 4px;
}

.level-label select:focus {
  outline: 0;
}

.level-label select option {
  text-align: left;
}

.choose-level {
  color: var(--clr-grey-light);
}

.loss-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background-color: var(--clr-black);
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  body {
    padding-bottom: 1em;
  }

  h1 {
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 0;
  }

  .start-game-card {
    background: var(--clr-white);
    height: 30rem;
    width: 30rem;
    padding: 2em 1em;
    top: 65%;
    z-index: 9999999;
  }

  .loss-overlay {
    z-index: 999999;
  }

  .rules-btn {
    position: initial;
    width: 12em;
    margin-bottom: 4px;
  }

  .player-info-btn {
    position: initial;
    width: 12em;
    margin-bottom: 1em;
  }

  .rules {
    width: 100%;
    z-index: 99999999;
  }
}
